<div
class="show-more"
data-show-more-container="{{ container_selector }}"
data-show-more-target="{{ target_selector }}"
data-show-more-num-display="{{ display_elements }}"
data-show-more-link-more="{{ label_more|trans }}"
data-show-more-link-less="{{ label_less|trans }}"
>
    <a href="#" class="show-more-link">{{ label_more }}</a>
</div>
